# AWS
openshift_cloudprovider_kind=${cloudprovider}
openshift_clusterid=${clusterid}

# StorageClass
openshift_storageclass_name=gp2
openshift_storageclass_parameters={'type': 'gp2', 'encrypted': 'false'}
openshift_storageclass_reclaim_policy="Delete"
