# Prometheus
openshift_cluster_monitoring_operator_install=true
openshift_cluster_monitoring_operator_prometheus_storage_enabled=true
openshift_cluster_monitoring_operator_alertmanager_storage_enabled=true
openshift_cluster_monitoring_operator_prometheus_storage_class_name=gp2
openshift_cluster_monitoring_operator_alertmanager_storage_class_name=gp2
#openshift_cluster_monitoring_operator_prometheus_storage_capacity (default: 50Gi)
#openshift_cluster_monitoring_operator_alertmanager_storage_capacity (default: 2Gi)
