oreg_auth_user='1979710|ddelcian'
oreg_auth_password='eyJhbGciOiJSUzUxMiJ9.eyJzdWIiOiI4OTFmMWZhNWNlNGU0MDU3YjAzY2ExYTNkYzBhNzNjMCJ9.klhsAF11fkAVmJlyzuba9NrJnNAFVWdJN0PZczQdFBxXFDJBwnPkKJyE0yzOpu89j6cjSGrvfXwXBiFSu5pTSC6qoJcw2STNZMPNpOlcaCp5hu0jHN8Zl_sy2mcfW0yYcomRnbI48fNHKm4FiUmQ5z2OeEDfZqiAQ16g8adrEiDQDkY1IPb3MWGrGrL8S39oIefmDxmOCpmNeE7nA6LiaJit7SDCekhkmqFqkplAUJSIL3tGkbmvA0u57I84Ht8s_JMjNcQW9NDxVb4tMuGiSuEJQX4UMxzrFwcgsEQDgFkkt9EkEnPgRAw2TQ8vV-Czhx1HQ1pwakHaRSoIxSbX87M-WKr0hYrazpJSZ9o-VMLWxUGLQqFEEU6BCwM0Hf9eh99dwL21TEJTeyl8PRfueyGUy3o3v2oCnpixcUM11M1i6tIdnc0JFfGzVuVgBmk4TO-1jNzMRs2Z3zklyBRuhFS1jC2vEKEtChRUPOnH1Rl7dpSnU9gc7nwnE2S1zCe-XHbOtFRmlfixPT7rqY0rNpALD4bek-xUB3atyN6hl6KTARyqarTRFlE3h4oTYfDHa1d8bcFzCjnKRbvyG5UeFVTB4KmX1yug7eD4oEtTAiuTboP_yosQTwhCCq3LPItrAhEiBIRKk3-_o1vokvj0wHRomszf5Mt0Fu2M_B85Dmo'
